@model _Zadatko.Models.Zadaci

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji</h2>

<div>
    <h4>Pregled informacija vezanih za konkretni zadatak.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            Težina (1-10):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tezina)
        </dd>

        <dt>
            Važnost (1-10):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vaznost)
        </dd>

        <dt>
            Kratki opis:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KratkiOpis)
        </dd>

        <dt>
            Rok obavljanja:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RokObavljanja)
        </dd>

        <dt>
            Do sada rješeno: (u %)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostotnaRjesenostZadatka)
        </dd>

         <!-- ne zelim prikazivat id korisniku  ,drzim jedino u svrhe debugiranja aplikacije
        <dt>
            @Html.DisplayNameFor(model => model.KorisnikID)
        </dt>

       
        <dd>
            @Html.DisplayFor(model => model.KorisnikID)
        </dd>
            -->

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Povratak na popis", "Index")
</p>
